.board {
  border: solid 2px red;
  height: 85vh;
  width: 85vh;
  display: grid;
  grid-template-columns: repeat(4, 25%);
  margin: 0 auto;

  .dot {
    display: flex;
    height: 2rem;
    width: 2rem;
    background-color: aqua;
    border-radius: 50%;
    align-self: center;
    justify-self: center;
  }
}