.board {
  border: solid 2px red;
  height: 85vh;
  width: 85vh;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 5px;

  .dot {
    width: 2rem;
    height: 2rem;
    background-color: aqua;
    border-radius: 50%;
    align-self: center;
    justify-self: center;
  }
}